{% extends "@SemanticReports/Default/html/page.twig" %}

{% set collapse_configuration = is_ready %}

{% block title %}{{ Name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' href='{{ asset('bundles/semanticreports/css/report.css') }}' />
    {% if nodata is not defined or not nodata %}
        <link rel='stylesheet' href='//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css' />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/semanticreports/css/daterangepicker.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/semanticreports/css/prettify.css') }}" />
    <style>
    /*.daterangepicker_holder {
        background: white;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);
        color: #333;
        padding: 8px;
        line-height: 18px;
        cursor: pointer;
    }
    .daterangepicker_holder .caret {
        margin-top: 8px;
        margin-left: 2px;
    }*/
    </style>
{% endblock %}

{% block header %}
    <div class="ui container">
        <h1 class="ui header">{{Name}}</h1>
        {% if Description is defined and Description %}
            <p id='report_description'>{{Description|raw}}</p>
        {% endif %}
        
        {% if Variables is not empty %}
            {% include "@SemanticReports/Default/html/variable_form.twig" %}
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="ui container">
    {% if is_ready %}
        <div class='ui export_links'>
        {% block export_links %}
            <div class="ui" style="margin-bottom: 15px; margin-top: 15px;">
            {% block download_link %}
                {% if config.report_formats|length > 1 %}
                    {% if DataSets is defined and DataSets|length > 1 %}All Report Tables:{% endif %}
                        <div class="ui pointing dropdown basic button">
                            Zapisz/pokaż jako:
                            <i class='dropdown icon'></i>
                            <div class="pointing menu">
                                {% for format in config.report_formats|keys %}
                                    {% if config.report_formats[format] == 'divider' %}
                                        <div class="divider"></div>
                                    {% else %}
                                        <a class="item" href='{{ url('eidsonator_report_path') }}/{{format}}?{% if DataSets is defined and DataSets|length > 1 %}datasets=all&{% endif %}{{report_querystring}}' class='report_link'>{{config.report_formats[format]}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                {% else %}
                    <a href='{{ url('eidsonator_report_path') }}/{{config.report_formats|keys[0]}}?{{report_querystring}}' class='report_link btn'>
                        <i class='icon-download'></i> Download {{config.report_formats[config.report_formats|keys[0]]}}
                    </a>
                {% endif %}
            {% endblock %}
            {% if config.mail_settings is defined and  config.mail_settings.enabled %}
                {% block email_report_button %}

                    <a class="ui basic button" id="emailToggle"><i class='mail outline icon'></i> Email Report</a>

                    <div id="emailModal" class="ui mini modal">
                            <div class="header">
                                <h4 class="modal-title">Email Report</h4>
                            </div>
                            <div class="ui text container" style="margin-bottom: 15px;">
                                <div class="ui warning message" id="email-report-modal-alert" style="display: none;"></div>
                                <p>A CSV file will be attached and a link will be sent</p>
                                <form class="ui form">
                                    <div class="field">
                                        <label for='email-report-modal-email'>Recipient Email Address</label>
                                        <input type='email' id='email-report-modal-email' value='' />
                                    </div>
                                    <div class="field">
                                        <label for='email-report-modal-subject'>Subject</label>
                                        <input type='text' id='email-report-modal-subject' value="Database Report - {{Name}}" />
                                    </div>
                                    <div class="field">
                                        <label for='email-report-modal-message'>Message (optional)</label>
                                        <textarea rows='4' id='email-report-modal-message'></textarea>
                                    </div>
                                    <div class="field">
                                        <button type="button" id="sendReport" class="ui basic blue button" data-loading-text="Sending">Send Email</button>
                                        <button type="button" id="emailCancel" class="ui basic red button">Cancel</button>
                                    </div>
                                </form>
                        </div>
                    </div>

                    <script>
                        window.onload = function(){

                            $('#emailToggle').click(function(){
                                $('#emailModal').modal({
                                    closable  : false
                                }).modal('show');
                            });

                            $("#emailCancel").click(function(){
                                $('#emailModal').modal('hide');
                            });
                        };
                    </script>

                    <script>
                        $(function() {
                            $('#sendReport').on('click', function() {
                                var button = $(this);
                                if (button.text() === "Sending") {
                                    return;
                                }
                                button.text("Sending");

                                var data = {
                                    email: $('#email-report-modal-email').val(),
                                    subject: $('#email-report-modal-subject').val(),
                                    message: $('#email-report-modal-message').val(),
                                    url: window.location.href
                                };

                                $.getJSON('{{ url('eidsonator_report_email') }}', data, function(response) {
                                    button.text("Send Email");
                                    if(response && response.success) {
                                        $('#emailModal').modal('hide');

                                        //show success message
                                        $('#email-report-success-message').show(300).delay(5000).hide(300);
                                    }
                                    else {
                                        var error = (response && response.error)? response.error : "There was a problem sending the email";
                                        $('#email-report-modal-alert').text(error).show(300);
                                    }
                                }).error(function() {
                                    $('#email-report-modal-alert').text("There was an error while sending the email").show(300);
                                });

                                return false;
                            });
                        });
                    </script>
                {% endblock %}
            {% endif %}
            </div>
        {% endblock %}
        
    
        {% if config.mail_settings is defined and config.mail_settings.enabled %}
            <div class='ui positive message' style='display: none;' id='email-report-success-message'>
                {% block email_report_success_message %}
                    Email Sent Successfully
                {% endblock %}
            </div>
        {% endif %}
    {% endif %}

    <div id='report_content' style="margin-top: 15px;">
        {% if not is_ready %}
            <div class='ui info message' >
                <div class="header">
                    <h3>Ustal niezbędne opcje przed generowaniem raportu.</h3>
                </div>
            </div>
        {% elseif async %}
            {% include "@SemanticReports/Default/html/report_ajax_loading.twig" %}
        {% else %}
            {% include "@SemanticReports/Default/html/report_content.twig" %}
        {% endif %}
    </div>
    
<!--
    {% block time_estimate %}
        {% if time_estimate is defined %}        
            <div class="ui accordion" style='margin-top: 20px;'>

                {#<a data-role="button" data-toggle="collapse" data-target="#time_estimate_holder" href="#time_estimate_holder">show time estimate data</a>#}
                <div class="title">
                    <i class="dropdown icon"></i>
                    Show Time Estimate Data
                </div>
                <div class="content" style='font-size: .8em; padding-left: 20px;' id='time_estimate_holder'>
                    <div><strong>Number of Samples: </strong> {{time_estimate.count}}</div>
                    <div><strong>Minimum Time: </strong> {{time_estimate.min}}</div>
                    <div><strong>Maximum Time: </strong> {{time_estimate.max}}</div>
                    <div><strong>Median: </strong> {{time_estimate.median}}</div>
                    <div><strong>Average: </strong> {{time_estimate.average}}</div>
                    <div><strong>Standard Deviation: </strong> {{time_estimate.stdev}}</div>    
                </div>
            </div>        
        {% endif %}
    {% endblock %}
-->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if has_charts is defined and has_charts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/semanticreports/js/jquery.iframe-auto-height.plugin.1.9.3.min.js') }}"></script>
    {% endif %}
    {% if nodata is not defined or not nodata  %}
        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script src="{{ asset('bundles/semanticreports/js/daterangepicker.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/semanticreports/js/jquery.stickytableheaders.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/semanticreports/js/lang-sql.js') }}"></script>
    
    <script type='text/javascript'>
      var afterAjax = function () {
        $('.filldown').on('click',function() {
  	      var input = $(this).closest('td').find('input.selectable');
  	
  	      $(this).closest('tr').nextAll('tr').find('input.selectable').prop('checked',input.prop('checked'));
  	      input.trigger('change');
  	      return false;
        });
      };
    </script>
    
    <script>
        $('.ui.pointing.dropdown').dropdown({
          on: 'hover'
        });
    </script>
    <script type="text/javascript">
        $("#content").on('click','a[data-role="button"]',function(e) {
            e.preventDefault();
        });
    </script>
    <script>
        {% if not is_ready %}
        $('document').ready(function(){
            $("#variables-header").click();
        });
        {% endif %}
    </script>
{% endblock %}
