{% extends "@SemanticReports/Default/html/page.twig" %}

{% block title %}Report List{% endblock %}

{% set breadcrumb = {"Report List": true} %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/semanticreports/css/report_list.css') }}" />
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="ui grid">
	<div class="four wide column">
		<div id="table_of_contents" class="ui vertical menu">
		{% block table_of_contents %}
			{% for item in reports %}
				{% include "@SemanticReports/Default/html/report_list_table_of_contents_item.twig" %}
			{% endfor %}
		{% endblock %}
		</div>
	</div>
	<div id="report_list" class="eight wide column">
        <h1 class="visible-phone">All Reports</h1>
		{% block report_errors %}
			{% if report_errors is not empty %}
                <div class="ui accordion segment">
					<img src="{{ asset('bundles/semanticreports/images/images/errorIcon.gif') }}" />
                    <h class="ui header title">
                        {{ report_errors|length }} reports contain errors
						<i class="dropdown icon"></i>
                    </h>
                    <div class="content" id="report_errors_holder">
                        <div class="ui warning message">
                            {% for error in report_errors %}
                                <div>
                                    <strong>{{ error.report }}</strong> - {{ error.exception.message }}
                                    <span style="padding-left: 20px;">
                                        <a href="{{ url('eidsonator_report_raw') }}?report={{error.report}}" style="margin-right: 10px;" target="_blank">view source</a>
                                        <a href="{{ url('eidsonator_report_edit') }}?report={{error.report}}" target="_blank">edit</a>
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
			{% endif %}
		{% endblock %}

		{% block report_list %}
			<a name="reportlist"></a>
			{% for item in reports %}
			<div class="report_list">
				{% if not loop.first %}
						<a href="#" class="ui right floated mini white button" style="font-size: 12px; font-weight:normal; margin-top: 5px;">top</a>
					<br>
				{% endif %}
				<div class="ui accordion segment">
					{% include "@SemanticReports/Default/html/report_list_item.twig" %}
				</div>
			</div>
			{% endfor %}
		{% endblock %}
	</div>
</div>

{% endblock %}
