{% if DataSets is defined %}
{% for dataset in DataSets %}
	{% if dataset.vertical is defined %}
	{% set ds = dataset.vertical %}
	{% set dsOffset = 0 %}
	{% else %}
	{% set ds = dataset.rows %}
	{% set dsOffset = 1 %}
	{% endif %}

    {% set dsNr = loop.index %}
    {% if dataset.title is defined %}<h3>{{dataset.title}}</h3>{% endif %}
	{% if DataSets|length > 1 %}
		{% block table_download_link %}
			{% set dataset_id = loop.index - 1 %}
			{% if config.report_formats|length > 1 %}
				<div class="ui pointing dropdown basic button">
					Zapisz/pokaż jako:
					<i class="dropdown icon"></i>
					<div class="pointing menu">
						{% for format in config.report_formats|keys %}
							{% if config.report_formats[format] == 'divider' %}
								<div class="divider"></div>
							{% else %}
								<a class="item" href='{{ url('eidsonator_report_path') }}/{{format}}?dataset={{ dataset_id }}&{{report_querystring}}' class='report_link'>{{config.report_formats[format]}}</a>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<script>
					(
						function() {
							$('.ui.pointing.dropdown').dropdown({
								on: 'hover'
							});
						}
					)();

				</script>
			{% else %}
				<a href='{{ url('eidsonator_report_path') }}/{{config.report_formats|keys[0]}}/?{{report_querystring}}' class='report_link btn'>
					<i class='icon-download'></i> Download {{config.report_formats[config.report_formats|keys[0]]}}
				</a>
			{% endif %}
		{% endblock %}
	{% endif %}
	{% if Formatting is not defined or not Formatting[loop.index-1].nodata %}
	{% if macros.displayType != 'tabela' %}
	  {% for row in ds %}
        <div id="result_chart_{{ dsNr }}_{{ loop.index }}" style="margin-bottom: 1rem;"></div>
      {% endfor %}
	{% endif %}
    <div class="table-wrapper">
	  <table{% if inline_email is not defined %} id='result_table_{{loop.index}}'
	    class='result_table ui celled striped table'{% else %} border="1" cellspacing="0"{% endif %}>
		{% if dataset.vertical is defined %}
		{% if dataset.footer is defined %}
		<tfoot>
			{% for row in dataset.footer %}
				<tr>
					{% for value in row.values %}
						<td>{{ value.getValue(true)|raw }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tfoot>
		{% endif %}
		<tbody>
			{% for row in dataset.vertical %}
			<tr>
				{% for value in row.values %}
				{% if value.is_header is defined and value.is_header %}
				  {% set tag = 'th' %}
				{% else %}
				  {% set tag = 'td' %}
				{% endif %}
				<{{ tag }} class="right {{ value.class }}">
                    {{ value.getValue(true)|raw }}
				</{{ tag }}>
				{% endfor %}
			</tr>
	        {% endfor %}
		</tbody>
		{% else %}
		<thead>
			<tr class='header'>
			{% if dataset.selectable is defined and inline_email is not defined %}
				<th> </th>
			{% endif %}
			{% if dataset.rows %}
				{% for value in dataset.rows[0].values %}
					<th class="{{value.class}}">{{value.key}}</th>
				{% endfor %}
			{% endif %}
			</tr>
		</thead>
		{% if dataset.footer is defined %}
		<tfoot>
			{% for row in dataset.footer %}
				<tr>
					{% if dataset.selectable and not inline_email %}
						<td> </td>
					{% endif %}
					{% for value in row.values %}
						<td>{{ value.getValue(true)|raw }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tfoot>
		{% endif %}
		<tbody>
			{% for row in dataset.rows %}
			<tr>
				{% if dataset.selectable is defined and inline_email is not defined %}
					<td>
						<div style="display: flex;">
							<input type='checkbox' class='selectable' />
							{% if not loop.last %}
							<a href='#' class='filldown' title='Fill Down - copy this value to all rows below this' style='text-decoration:none;'>&darr;</a>
							{% endif %}
						</div>
					</td>
				{% endif %}
                {% for value in row.values %}
                <td class="right {{value.class}}{% if dataset.selectable is defined and value.key == dataset.selectable %} selectable{% endif %}">
                    {{ value.getValue(true)|raw }}
                </td>
                {% endfor %}
			</tr>
			{% endfor %}
		</tbody>
		{% endif %}
	</table>
	{% if macros.displayType != 'tabela' %}
    {% for row in ds %}	
	<script>
    var ignores = [];
    for ( var i = 1; i < {{ ds|length + dsOffset }}; i++ ) {
        if ( i !== {{ loop.index }} ) {
            ignores.push(i);
        }
    }

	$('#result_chart_{{ dsNr }}_{{ loop.index }}').chartinator( {
      chartType: 'ColumnChart',
      
      dataTitle: '',
      tableSel: '#result_table_{{ dsNr }}',
    {% if macros.pivotChart == 'tak' and macros.pivot == 'nie' %}
      ignoreCol: ignores,    
    {% else %}
      ignoreRow: ignores,
    {% endif %}
    {% if macros.pivotChart == 'tak' %}
      transpose: true,
    {% endif %}
	{% if macros.displayType != 'wykres' %}
      showTable: 'show',
	{% endif %}
      columnChart: {
          legend: { position: 'right', alignment: 'center' },
          chartArea: { left: '10%', top: '10%', width: '70%', height: '80%' },
      },	
    } );
    </script>
    {% endfor %}
    {% endif %}
  </div>	
  {% endif %}
{% endfor %}
{% endif %}

